/**
* Includes: Variables
*/

/* Color Definitions */
$color-black: #080808;
$color-white: #fff;
$color-gray-darker: #333;
$color-gray-dark: #777;
$color-gray: #adadad;
$color-gray-light: #ccc;
$color-gray-lighter: #dedede;
$color-gray-pale: #f5f5f5;
$color-success: #5fb760;
$color-success-bg: #dff0d8;
$color-info: #60c0dc;
$color-info-bg: #d9edf7;
$color-warning: #eeac57;
$color-warning-bg: #fcf8e3;
$color-danger: #d75452;
$color-danger-bg: #f2dede;
$color-highlight: #fcf8e3;
$color-code-text: #c7254e;
$color-code-background: #f9f2f4;

/* Social Colors */
$profiles: (
  facebook: #3b5998,
  googleplus: #dd4b39,
  instagram: #517fa4,
  pinterest: #cb2027,
  twitter: #00aced,
  vimeo: #aad450,
  youtube: #b00,
  linkedin: #0077b5,
);

/* Breakpoints */
$breakpoint-full: 1300;
$breakpoint-desktop: 1000;
$breakpoint-tablet: 768;
$breakpoints: (
  full-min: $breakpoint-full,
  desktop-max: $breakpoint-full - 1,
  desktop-min: $breakpoint-desktop,
  mobile-max: $breakpoint-desktop - 1,
  mobile-min: 0,
  tablet-max: $breakpoint-desktop - 1,
  tablet-min: $breakpoint-tablet,
  phone-max: $breakpoint-tablet - 1,
  phone-min: 0,
);

/* Fonts */
$fonts: (
  primary: ('aktiv-grotesk-extended', 'sans-serif'),
  secondary: ('Canela', 'serif'),
  tertiary: ('sofia-pro', 'sans-serif'),
  icons: ''
);

/* Color Theme */
$theme: (
  black: #000,
  darker: #242424,
  dark: #383838,
  light: #ae9c89,
  lighter: #f1efe4,
  pale: #fdfdf7,
  secondary: #5d3919,
  primary: #b94a12,
);

/* Base Settings */
$base: (
  font: map-get($fonts, primary),
  font-size: 17,
  border-radius: 4,
  site-width: 1260,
  transition-duration: 300ms,
  transition-timing-function: ease-in-out,
  header-mobile: rem(76)
);

/* Layers */
$layers: (
  default: 0,
  primary: 1,
  debug: 9,
  header: 10,
  project-detail: 11,
);

/* Typography */
$type: (
  label : (9, 1, 1.26, primary, 400, uppercase, theme(darker)),
  placeholder: ( 15, 1, 0, tertiary, 300, normal, rgba(theme(darker), 0.3)),
  description : (12, 1.6667, 0, tertiary, 300, none, theme(darker)),
  body : (15, 1.6667, 0, tertiary, 300, none, theme(darker)),
  title: (40, 2, 1.2, secondary, 300, uppercase, theme(darker)),
  callout : (35, 1.37, 0, secondary, 400, none, theme(darker), smooth),
  secondary: (20, 3, 0, secondary, 400, none, theme(darker)),
  tertiary: (30, 2, 0, secondary, 300, none, theme(darker)),
  project-detail: (10, 1.4, 1.8, primary, 400, uppercase, theme(darker)),
);

/**
* Form Elements
*
* Form element groups to support the quick application of styles to base and pseudo states.
*/
$text-inputs-list: 'input[type="color"]', 'input[type="date"]',
  'input[type="datetime"]', 'input[type="datetime-local"]',
  'input[type="email"]', 'input[type="month"]', 'input[type="number"]',
  'input[type="password"]', 'input[type="search"]', 'input[type="tel"]',
  'input[type="text"]:not(.chosen-focus-input)', 'input[type="time"]',
  'input[type="url"]', 'input[type="week"]', 'textarea';
$all-text-inputs: assign-elements($text-inputs-list);
$all-text-inputs-active: assign-elements($text-inputs-list, active);
$all-text-inputs-focus: assign-elements($text-inputs-list, focus);
$all-text-inputs-hover: assign-elements($text-inputs-list, hover);

/**
* Text Elements
*
* Text element groups to support the quick application of styles.
*/
$text-elements-list: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'ul', 'li', 'span',
  'strong', 'em', 'blockquote', 'cite';
$all-text-elements: assign-inputs($text-elements-list);
