.component--header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    @media(max-width:768px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    &__logo-wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        @media(max-width:768px) {

            justify-content: center;
        }
        
    }

    &__navigation {
        display: flex;
        align-items: center;
        @media(max-width:768px) {

            justify-content: center;
        }
    }

    &__ul {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        
    }

    &__li {
        margin-right: 1.5rem;
        @include pseudo-underline(theme(darker), 2px, -4px, 0%, .2s);
        &:hover, &.active {
            @include pseudo-underline(theme(darker), 2px, -4px, 100%, .2s);
        }

        &.external {
            @include pseudo-underline(#D95023, 2px, -4px, 0%, .2s);
            a {
                color: #D95023;
            }
        }

        &.external:hover {
            @include pseudo-underline(#D95023, 2px, -4px, 100%, .2s);
        }
    }
    

}